*.egg-info
.idea/
.terraform/*
*/.terraform
.terraform.*
terraform.*
cats_vault/
old
*.pyc
.ipynb_checkpoints
.pytest_cache
/examples/
venv
.obsidian
offline_experiments
testing/features/cat.py
testing/tests/cat.py
bom.car
bom.json
invoice.json
order.json
cat-action-plane-config
old/experiments/catMesh
online
