.idea
build
old
job_data
*.egg-info
spark-warehouse
df.csv
venv
venv.tar.gz
cadStore
__pycache__
*/__pycache__
.terraform.lock.hcl
.terraform/
kubectl_cluster_info.txt
make_spark_dist_info.txt
project/
terraform.tfstate
terraform.tfstate.backup
tf.log
cluster/test.sh
apps/cat0/test.py
notes.md
